node_modules/
package-lock.json
client/node_modules/
client/expo/
client/package-lock.json
client/.expo/settings.json
client/.expo/packager-info.json
client/.expo/packager-info.json
client/.expo/settings.json
